body {
  background: linear-gradient(to right, #554c4b, #252524);
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#collisionCanvas {
  opacity: 0;
}
